.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    max-width: 800px;
    background-color: rgb(235, 192, 111);
    padding: 20px;
    text-align: center;
}

.center-content{
    text-align: center;
}

.login-container table{
  margin-top: 20px;
  margin-left: 140px;
}