<div *ngIf="userid==0" class="login-container">
  <div class="center-content">
    <b>Please log in to continue</b>
    <br><br>
    UserName: <input type="text" [(ngModel)] = "username" placeholder="Enter username"><br>
    Password: <input type="text" [(ngModel)] = "password" placeholder="Enter Password">
    <br><br>
    <button (click)="login()">Log In</button>
    <br><br>
    <br>
    <u>UserName=admin</u><br>
    <u>Password=admin</u>
    <p>Developed by Anisha</p>
</div>
</div>

<div *ngIf="userid>0" class="login-container">
<div class="center-content">
  <h1>Task Management System</h1>
  <button (click)="readall()">Show Task</button>

  <table border="1">
    <thead>
      <tr>
        <td>ID</td>
        <td>Task</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks ; let i = index">
        <td>{{i}}</td>
        <td>{{task.details}}</td>
        <td>
          <button (click)="delete()">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <br><hr>
  <h2>Add New Task</h2>
  Details:<input type="text" [(ngModel)]="details" placeholder="Enter Task Name"> &nbsp; &nbsp;
  <button (click) ="add()">Add</button>

  <br><br><hr>

  <button (click) ="logout()">Log Out</button>
</div>

</div>
